@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0px;
    font-family: "Quicksand";
}

.App {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#light {
    background-color: rgb(34, 39, 46)
}

#love {
    background-color: #e180b7;
}

.App h1 {
    max-width: 400px;
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
    color: rgb(173, 186, 189);
}

.App button {
    border: none;
    color: rgb(248, 30, 150);
    font-size: 150px;
    background-color: rgb(34, 39, 46)
}

#love h1 {
    color: rgb(136, 68, 224);
}

#love button {
    background-color: #e180b7;
    color: rgb(117, 214, 236);
}